\.txt$
\.ps1$
\.bat$
\.cmd$
\.vbs$
\.sh$
\.py$
\.rb$
\.config$
\.conf$
\.cfg$
\.ini$
\.env$
\.settings$
\.properties$
\.xml$
\.json$
\.yml$
\.yaml$
\.rtf$
\.bak$
\.bkp$
\.pem$
\.crt$
\.cer$
\.key$
\.pfx$
\.p12$
\.jks$
\.keystore$
\.ovpn$
\.rdp$
\.kdb$
\.kdbx$
\.credentials$
\.udl$
\.sql$
\.mdb$
\.accdb$
\.xls$
\.xlsx$
\.csv$
[Pp][Aa][Ss][Ss]
[Vv][Pp][Nn]
[Aa][Uu][Tt][Hh]
[Tt][Oo][Kk][Ee][Nn]
[Ss][Ee][Cc][Rr][Ee][Tt]
[Cc][Rr][Ee][Dd]
[Aa][Pp][Ii][_]?[Kk][Ee][Yy]
[Ll][Oo][Gg][Ii][Nn]
[Pp][Rr][Ii][Vv][Aa][Tt][Ee]
[Cc][Ee][Rr][Tt][Ii][Ff][Ii][Cc][Aa]
[Cc][Oo][Nn][Tt][Rr][Aa][Ss][Ee]
[Cc][Ll][Aa][Vv][Ee]
[Aa][Cc][Cc][Ee][Ss][Oo]
[Ii][Nn][Gg][Rr][Ee][Ss][Oo]
[Uu][Ss][Uu][Aa][Rr][Ii][Oo]
[Cc][Rr][Ee][Dd][Ee][Nn][Cc][Ii][Aa]
[Ss][Ee][Cc][Rr][Ee][Tt][Oo]
[Ll][Ll][Aa][Vv][Ee]
[Ff][Ii][Rr][Mm][Aa]
[Pp][Rr][Ii][Vv][Aa][Dd][Oo]
[Cc][Oo][Nn][Ee][Xx][Ii][Oo][Nn]
[Aa][Dd][Mm][Ii][Nn]
[Aa][Dd][Mm][Ii][Nn][Ii][Ss][Tt][Rr][Aa][Dd][Oo][Rr]
[Ss][Ee][Rr][Vv][Ii][Dd][Oo][Rr]
[Dd][Oo][Mm][Ii][Nn][Ii][Oo]
[Rr][Ee][Ss][Pp][Aa][Ll][Dd][Oo]
[Cc][Oo][Pp][Ii][Aa]
[Bb][Aa][Ss][Ee][_]?[Dd][Ee][_]?[Dd][Aa][Tt][Oo][Ss]
[Cc][Oo][Rr][Rr][Ee][Oo]
[Cc][Uu][Ii][TtLl]
[Dd][Nn][Ii]
[Aa][Ff][Ii][Pp]
[Aa][Rr][Cc][Aa]
[Cc][Ll][Aa][Vv][Ee][_ ]?[Ff][Ii][Ss][Cc][Aa][Ll]
[Cc][Bb][Uu]
[Hh][Oo][Mm][Ee][Bb][Aa][Nn][Kk]
[Aa][Nn][Ss][Ee][Ss]
